  <h3><%= "All Players That Play #{@position}" %></h3>

    <ul>
      <% @players.each do |player| %>
          <li> <%= "#{player[:team]}: #{player[:first_name]} #{player[:last_name]}" %> </li>
      <% end %>

    </ul>
